<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @profile.username %>
</p>

<p>
  <b>Password:</b>
  <%= @profile.password %>
</p>

<p>
  <b>Picture:</b>
  <%= @profile.picture %>
</p>

<p>
  <b>Email:</b>
  <%= @profile.email %>
</p>

<p>
  <b>Fbid:</b>
  <%= @profile.fbID %>
</p>

<p>
  <b>Hashemailverify:</b>
  <%= @profile.hashEmailVerify %>
</p>

<p>
  <b>Activeemail:</b>
  <%= @profile.activeEmail %>
</p>

<p>
  <b>Hashpashchange:</b>
  <%= @profile.hashPashChange %>
</p>

<p>
  <b>Passchangerequest:</b>
  <%= @profile.PassChangeRequest %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
